.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton {
    background-color: #ac44c6;
    color: white;
    border: none;
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.startButton:hover {
    opacity: 0.9;
}
